.video{
    text-align: center;
    position: relative;
    overflow: hidden;

    &::after{
        content: "IV";
        position: absolute;
        top: 0px;
        left:calc(50% + 555px);
        transform: translate(-50%, 8%);
        font-size: 400px;
        opacity: 0.02;
        font-family: $font-accent;
      
    }
}

.video__frame{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 720px;
    height: 650px;

    
    @include mediaTablet{
        width: 460px;
        height: 320px;
    }

  }


